{% extends "layout.html" %}

{% block mainContent %}
 <p>This is the about us page. You are a smart cookie to want to read about us!</p>
  <span id="exuberant-butterfly-name">Andrea Mak</span>
  <br>
   <img id="exuberant-butterfly-headshot" src="/img/Andrea.png">
  <br>
  
  <span id="karin-dillie-name">Karin Dillie</span>
  <br>
   <img id="karin-dillie-headshot" src="/img/Karin.jpg">
   <br>
 
  <span id="carrie-edmundson-name">Carrie Edmundson</span>
  <br>
   <img id="carrie-edmundson-headshot" src="/img/Carrie.jpg">
   <br>
 
  <span id="cate-miller-name">Cate Miller</span>
  <br>
   <img id="cate-miller-headshot" src="/img/Cate.jpg">
  
  
<!-- your names, each in a span tag with id attribute set to your class nickname with a -name suffix, e.g. "fast-lion-name".
a headshot of you each in an img tag with id attribute set to your class nickname with a -headshot suffix, e.g. "fast-lion-headshot". This does not have to actually be a picture of you.*/
-->

{% endblock %}
