{% extends "layout.html" %}

{% block mainContent %}
 <p>This is the about us page. You are a smart cookie to want to read about us!</p>
   <div style="border: 5px solid #5C5858">
  <span id="exuberant-butterfly-name">Andrea Mak</span>
  <br>
   <img id="exuberant-butterfly-headshot" src="/img/Andrea.png" width=30% height=30%>
  <br></div>
  
  <span id="talented-armadillo-name">Karin Dillie</span>
  <br>
   <img id="talented-armadillo-headshot" src="/img/Karin.jpg" width=30% height=30%>
   <br>
 
  <span id="wandering-hyena-name">Carrie Edmundson</span>
  <br>
   <img id="wandering-hyena-headshot" src="/img/Carrie.jpg" width=30% height=30%>
   <br>
 
  <span id="poised-elk-name">Cate Miller</span>
  <br>
   <img id="poised-elk-headshot" src="/img/Cate.jpg" width=30% height=30%>
  
  
<!-- your names, each in a span tag with id attribute set to your class nickname with a -name suffix, e.g. "fast-lion-name".
a headshot of you each in an img tag with id attribute set to your class nickname with a -headshot suffix, e.g. "fast-lion-headshot". This does not have to actually be a picture of you.*/
-->

{% endblock %}
