{% extends "layout.html" %}

{% block mainContent %}
 <p>This is the about us page. You are a smart cookie to want to read about us!</p>
  <span id="exuberant-butterfly-name">Andrea Mak</span>
  <br>
   <img id="exuberant-butterfly-headshot" src="http://static.wixstatic.com/media/92e7d3_08d795f768184b69b3037213b26e8ac0.png_srz_p_299_282_75_22_0.50_1.20_0.00_png_srz">
  <br>
  
  <span id="karin-dillie-name">Karin Dillie</span>
  <br>
   <img id="karin-dillie-headshot" src="http://static.wixstatic.com/media/92e7d3_a43979affdd141729b5936d5b55a933a.jpg_srz_p_299_290_75_22_0.50_1.20_0.00_jpg_srz">
   <br>
 
  <span id="carrie-edmundson-name">Carrie Edmundson</span>
  <br>
   <img id="carrie-edmundson-headshot" src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1897941_830437205061_964444948247794135_n.jpg?oh=60c889f1406bbbf599277f28b1f36eb8&oe=56F9694C">
   <br>
 
  <span id="cate-miller-name">Cate Miller</span>
  <br>
   <img id="cate-miller-headshot" src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11081086_10203950336863472_2737779965909061037_n.jpg?oh=13a90f25f999b4cf1642f271b230e0c3&oe=56F49AD6">
  
  
<!-- your names, each in a span tag with id attribute set to your class nickname with a -name suffix, e.g. "fast-lion-name".
a headshot of you each in an img tag with id attribute set to your class nickname with a -headshot suffix, e.g. "fast-lion-headshot". This does not have to actually be a picture of you.*/
-->

{% endblock %}
