

<!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src="//www.google-analytics.com/cx/api.js?experiment=iAzHhjzZRGGaN_pWl-VlGQ"></script>

<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
// Define JavaScript for each page variation of this experiment.
var pageVariations = [
  function() {},  // Original: Do nothing. This will render the default HTML.
  function() {    // Variation 1: change button text to support
    $( 'li.donation' ).replaceWith( 'Support' );
  }
];

// Wait for the DOM to load, then execute the view for the chosen variation.
$(document).ready(function(){
  // Ask Google Analytics which variation to show the user.
  var chosenVariation = cxApi.chooseVariation();

  // Execute the chosen view
  pageVariations[chosenVariation]();
}
);
</script>


<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='112616747-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->




{% extends "layout.html" %}

{% block mainContent %}
 <h1 id= "title">{{event.title}}</h1>
 <p>When:<span id="date">{{event.date}}</span></p>
 <p>Where:<span id="location">{{event.location}}</span></p>
 <p>Who:</p>
 <ul id="attendees">
     {% for person in event.attending %}
         <li>{{person}}</li>
     {% endfor %}
 </ul>
 <img src="{{event.image}}" id="image">
 
 <p>Get your butt ova here! </p>
 {% if errors %}
 <div>
   <ul class="form-errors">
     {% for error in errors %}
      <li>{{error}}</li>
     {% endfor %}
   </ul>
 </div>
 {% endif %}
 <form method="post">
  <input type="text" name="email" id="email" placeholder="Your email"/>
  <input type="submit" value="Submit"/>
 </form>
 
 
 <div>
  <a class="donation" href="http://paypal.com"></a>
 </div>
 <form action="http://paypal.com" method="post" target="_blank">
  <input type="submit" value="Donate">
</form>

{% endblock %}
