{% extends "layout.html" %}

{% block mainContent %}
 <h1 id= "title">{{event.title}}</h1>
 <p>When:<span id="date">{{event.date}}</span></p>
 <p>Where:<span id="location">{{event.location}}</span></p>
 <p>Who:</p>
 <ul id="attendees">
     {% for person in event.attending %}
         <li>{{person}}</li>
     {% endfor %}
 </ul>
 <img src="{{event.image}}" id="image">
 
 <p>Get your butt ova here! </p>
 {% if errors %}
 <div>
   <ul class="form-errors">
     {% for error in errors %}
      <li>{{error}}</li>
     {% endfor %}
   </ul>
 </div>
 {% endif %}
 <form method="post">
  <input type="text" name="email" id="email" placeholder="Your email"/>
  <input type="submit" value="Submit"/>
 </form>
 
 
 <div>
  <id class="donation">
 </div>
 <form action="http://paypal.com" method="post" target="_blank">
  <input type="submit" value="Donate">
</form>

{% endblock %}
