{% extends "layout.html" %}

{% block mainContent %}
 <h1 id= "title">{{event.title}}</h1>
 <p>When:<span id="date">{{event.date}}</span></p>
 <p>Where:<span id="location">{{event.location}}</span></p>
 <p>Who:</p>
 <ul id="attendees">
     {% for person in event.attending %}
         <li>{{person}}</li>
     {% endfor %}
 </ul>
 <img src="{{event.image}}" id="image">
 
 <p>Get your butt ova here! </p>
 {% if errors %}
 <div>
   <ul class="form-errors">
     {% for error in errors %}
      <li>{{error}}</li>
     {% endfor %}
   </ul>
 </div>
 {% endif %}
 <form method="post">
  <input type="text" name="email" id="email" placeholder="Your email"/>
  <input type="submit" value="Submit"/>
 </form>
 
 
 <div>
  <a class="donation" href="/donate"></a>
 </div>
 <form action="/donate" method="post" target="_blank">
  <input type="submit" value="Donate">
</form>

<!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src="//www.google-analytics.com/cx/api.js?experiment=7oCwdQfJQiy64ZxwHuoSEQ"></script>

<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
// Define JavaScript for each page variation of this experiment.
var pageVariations = [
  function() {},  // Original: Do nothing. This will render the default HTML.
  function() {    // Variation 1: change button text to support
    $( 'a.donation' ).text( 'Support' );
  }
];

// Wait for the DOM to load, then execute the view for the chosen variation.
$(document).ready(function(){
  // Ask Google Analytics which variation to show the user.
  var chosenVariation = cxApi.chooseVariation();
  // Execute the chosen view
  pageVariations[chosenVariation]();
}
);
</script>

{% endblock %}
